ul{
  margin:0; //reset
  padding:0;
}

// Отображает выпадающий список
.select:hover > ul {
  display:block;
  color:#fff;
}

.sub-menu {
  // Стили выпадающего меню
  li{
    display:block;
    list-style-type:none;
    text-transform:uppercase;
  }

  li a{
    display:flex;
    text-align:center;
    text-decoration:none;
    color:#777;
    padding:1rem;
  }

  li a:hover{
    background:#777;
    color:#fff;
  }
}

@media (min-width: 800px) {
  // Скрывает список сперва
  .select ul {
    display: none;
    position:absolute;
  }

  .select:hover > ul {
    padding-left:0;
    background:#777;
  }

  .select:hover > ul a{
    color:#fff;
  }

  .for-remove{
    display:flex;
    flex-direction:column;
  }

}
