input-height = 15px;
input-padding = 15px;
input-width = 200px;
input-border = 1px;

defHight = input-height + 2 * (input-padding + input-border);
defWidth = input-width + 2 * input-padding;
defBorder = input-border solid gray;
defRadius = 5px;

@media (min-width: 300px) {

  .select-container{
    width: select-width;
    height: select-height;
  }

  .floating-label {
    position: absolute;
    color: gray;

    pointer-events: none;
    left: 20px;
    top: 16px;

    transition: 0.2s ease all;
  }

  .input {
    height: input-height;
    padding: input-padding;
    width: input-width;
    border: defBorder;
    border-radius defRadius;
    color: orange;
    caret-color: black;

    &:focus{
      outline: none;
    }

    &:focus ~ .floating-label,
    &:valid ~ .floating-label {
      top: -6px;
      bottom: 5px;
      left: 15px;
      font-size: 11px;
      opacity: 1;
      color: black;
      height: 16px;
      padding-left: 5px;
      padding-right: 5px;
      background: white;

      &.up{
        display none
      }
    }

    // скругление углов
    &.up:focus,
    &.up:valid{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: defRadius;
      border-bottom-right-radius: defRadius;
    }

    &.down:focus,
    &.down:valid{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: defRadius;
      border-top-right-radius: defRadius;
    }

    &:focus ~ .sub-menu,
    &:valid ~ .sub-menu{
      display:block;

      // основной цвет фона списка
      padding-left:0;
      background: #ffffff;

      // Шрифт в списке
      a{
        color: #000000;
      }
    }

  }

  .select {
    position: relative;
    width: defWidth;

     //Чтобы отображалось при наведении, чтобы срабатывало событие
    //&:hover > .sub-menu {
    //  display:block;
    //
    //}
  }

  // Стили выпадающего меню
  .sub-menu{
    position: absolute;
    // Скрывает список сперва
    display: none;
    //display:block;
    color:#fff;
    border: defBorder;

    margin:0; //reset
    padding:0;

    cursor: pointer;

    // скругление углов
    &.up,
    &.up{
      bottom: 46px;
      border-top-left-radius: defRadius;
      border-top-right-radius: defRadius;
      //border-bottom  1px
    }

    &.down,
    &.down{
      border-bottom-left-radius: defRadius;
      border-bottom-right-radius: defRadius;
      border-top 0px
    }

    li{
      display:block;
      width: defWidth;
      list-style-type:none;

      a{
        display:flex;
        text-align:center;
        text-decoration:none;
        color:#777;
        padding: input-padding;

        &:hover {
          background: #777;
          color: #fff;
        }

        .highlight {
          color: orange;
          text-decoration underline
        }
      }
    }

    &:hover{
     display:block;
    }

    &:hover ~ .floating-label.down {
      top: -6px;
      bottom: 5px;
      left: 15px;
      font-size: 11px;
      opacity: 1;
      color: black;
      height: 16px;
      padding-left: 5px;
      padding-right: 5px;
      background: white;
    }
  }

}
