input-height = 15px;
input-padding = 15px;
input-width = 200px;
input-border = 1px;

defHight = input-height + 2 * (input-padding + input-border);
defWidth = input-width + 2 * input-padding;
defBorder = input-border solid gray;
defRadius = 5px;

.select-container{
  width: select-width;
  height: select-height;
}

.select-mobile {
  width: 232px;
  height: 46px;
  padding: 10px 35px 10px 15px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: black;
  background: url(arrow_down.png) 96% no-repeat white;
  background-size: 25px;
}

.custom-select {
  position: relative;
  width: defWidth;

   &__floating-label {
    position: absolute;
    color: black;
    pointer-events: none;
    left: 16px;
    top: 16px;
    font: 400 14px Arial;
    transition: 0.2s ease all;

    &_up{
      display none
    }

    &_down {
      top: -6px;
      bottom: 5px;
      left: 10px;
      font-size: 14px;
      opacity: 1;
      color: black;
      height: 16px;
      padding-left: 5px;
      padding-right: 5px;
      background: white;
    }
  }

  &__input {
    height: input-height;
    padding: input-padding;
    width: input-width;
    border: defBorder;
    border-radius defRadius;
    color: black;
    caret-color: black;

    &:focus{
      outline: none;
    }

    &_down{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: defRadius;
      border-top-right-radius: defRadius;
    }

    &_up{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: defRadius;
      border-bottom-right-radius: defRadius;
    }
  }
  // Стили выпадающего меню
  .sub-menu{
    position: absolute;
    display: none;
    background: #ffffff;
    color:#fff;
    border: defBorder;

    margin:0; //reset
    padding:0;

    cursor: pointer;

    // скругление углов
    &.sub-menu_up{
      display: block;
      bottom: 46px;
      border-top-left-radius: defRadius;
      border-top-right-radius: defRadius;
      //border-bottom  1px
    }

    &.sub-menu_down{
      display: block;
      border-bottom-left-radius: defRadius;
      border-bottom-right-radius: defRadius;
      border-top 0px
    }

    .sub-menu__item{
      display:block;
      width: defWidth;
      list-style-type:none;

      &-link{
        display:flex;
        text-align:center;
        text-decoration:none;
        color:#777;
        padding: input-padding;

        &:hover {
          background: gray;
          color: orange;
        }
      }
    }
  }

  .highlight {
    color: orange;
    text-decoration underline
  }

  .custom-select__icon{
    position absolute
    top 14px
    right 10px
  }
}
