my-width = 200px;
my-border = 1px;

@media (min-width: 800px) {
  //.container{
  //  display:flex;
  //  flex-direction:column-reverse;
  //}

  .select,
  .input {
    width: my-width
  }

  // Отображает выпадающий список
  .select:hover > .sub-menu {
    display:block;
    color:#fff;
    border: solid my-border black;

    // основной цвет фона списка
    padding-left:0;
    background: #ffffff;
  }

  // Шрифт в списке
  .select:hover > .sub-menu a{
    color: #000000;
  }

  // Стили выпадающего меню
  .sub-menu {
    // Скрывает список сперва
    //display: none;
    display:block;
    color:#fff;
    border: solid my-border black;
    position:absolute;

    margin:0; //reset
    padding:0;
    cursor: pointer;

    li{
      display:block;
      width: my-width + 2 * my-border;
      list-style-type:none;

      .highlight {
        color: orange;
      }
    }

    li a{
      display:flex;
      text-align:center;
      text-decoration:none;
      color:#777;
      padding:1rem;
    }

    li a:hover{
      background:#777;
      color:#fff;
    }
  }

}
